<div class="col-md-4 col-md-offset-4">

<h2> Edit your profile </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control'%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">

    <%= f.label "Password" %> <i> (Leave blank if you do not want to edit) </i><br />

    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">

    <%= f.label "Confirm your password" %><br />

    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Current password" %>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

      <div class="form-group">

        <%= f.label 'First_Name' %> <br>

        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">

        <%= f.label 'Last_Name' %> <br>

        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Gender' %> <br>
        <%= f.select(:gender, {Male: false,Female: true})  %>
      </div>

      <div class="form-group">
        <%= f.label 'Department' %> <br>
        <%= f.text_field :department, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Phone_Number' %> <br>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label "Avatar" %>
        <%= f.file_field :avatar %>
      </div>

  <div class="actions" style="margin-bottom:5em;">
    <%= f.submit "Update", class: "btn btn-default col-md-12" %>
  </div>
  
<% end %>

</div>



