<% if !user_signed_in? %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Lorem ipsum
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h4><i class="fa fa-fw fa-check"></i> Stay updated </h4>
                    </div>
                    <div class="panel-body">
                        <p> Keep up to date in their company. With this application you will have access to all the information provided by employees of your company.</p>
                        <a href="#" class="btn btn-default">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h4><i class="fa fa-fw fa-gift"></i> Intelligently manage your free time at work </h4>

                    </div>
                    <div class="panel-body">
                        <p> Develop your logic skills by helping others and gaining rankings </p>
                        <a href="#" class="btn btn-default">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to use </h4>
                    </div>
                    <div class="panel-body">
                        <p> The application is easy to use for younger and older workers. This way you will not encounter any barriers to the use of the </p>
                        <a href="#" class="btn btn-default">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Our projects </h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placekitten.com/g/700/450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placekitten.com/g/700/450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placekitten.com/g/700/450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placekitten.com/g/700/450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placekitten.com/g/700/450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placekitten.com/g/700/450" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pa5ge-header">  Lorem ipsum </h2>
            </div>
            <div class="col-md-6">
                <p> Lorem ipsum </p>
                <ul>
                    <li><strong> Lorem ipsum </strong>
                    </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                    <li> Lorem ipsum </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placekitten.com/g/700/450" alt="">
            </div>
        </div>

        <hr>
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p> Find out what are the advantages of our application </p>
                </div>
                <div class="col-md-4">
                  <%= link_to 'Zarejestruj się', new_user_registration_path, class: 'btn btn-default' %>
                </div>
            </div>
        </div>
    </div>

    <script>

    $('.carousel').carousel({
        interval: 5000
    })

    </script>


<% else %>

        <div class="row" style="margin-top: 50px">
            <div class="col-md-12">
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3 text-center">
                  <%= link_to(categories_path) do %>
                      <button class = "btn btn-info make-bigger-on-hover fa fa-comments", style = "font-size: 50px; width: 300px; height: 200px; color: black"> <br> Society </button>
                  <% end %>
              </div>
              <div class="col-md-3 text-center">
                 <%= link_to(table_path) do %>
                      <button class = "btn btn-info make-bigger-on-hover fa fa-gamepad", style = "font-size: 50px; width: 300px; height: 200px; color: black"> <br> Play </button>
                  <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3 text-center">
                <%= link_to(action: 'rank') do %>
                    <button class = "btn btn-info make-bigger-on-hover fa fa-university", style = "font-size: 50px; width: 300px; height: 200px; color: black"> <br> Rank </button>
                <% end %>
              </div>
              <div class="col-md-3 text-center">
                <%= link_to locations_path do %>
                    <button class = "btn btn-info make-bigger-on-hover fa fa-university", style = "font-size: 50px; width: 300px; height: 200px; color: black"> <br> Events </button>
                <% end %>
              </div>
            </div>

        </div>
        <br> <br> <br>
        <div class ="col-md-12">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Stay updated </h4>
                    </div>
                    <div class="panel-body">
                        <p> Keep up to date, check what is happening in the sections that you are interested in!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-gamepad"></i> Be creative </h4>
                    </div>
                    <div class="panel-body">
                        <p> Be creative! Add something back to our company's image!</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-info"></i> Help us </h4>
                    </div>
                    <div class="panel-body">
                        <p> Help us grow our company! </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>


    <script>
        (function() {
            $(".make-bigger-on-hover").hover(function() {
                $(this).stop(true, false).animate({"width": 300}, 500);
            }, function() {
                $(this).stop(true, false).animate({"width": 200}, 500);
            });
        })();
    </script>


<% end %>
