 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="margin-top:2em;" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% if @user.first_name != '' && @user.last_name != '' %>
                <%= @user.full_name %>
            <% else %>
                <%= @user.email %>
            <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= image_url @user.avatar.url %>" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Department:</td>
                  <td><%= @user.department.nil?  ? 'Not introduced' : @user.department %></td>
                </tr>
                <tr>
                <tr>
                  <td>Gender</td>
                  <td><%= @user.gender.nil? ? 'Not introduced' : @user.plec %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%= @user.email %></td>
                </tr>
                <td>Telephone number</td>
                <td><%= @user.phone.nil? ? 'Not introduced' : @user.phone %>
                </td>
                </tr>
                </tbody>
              </table>
                <%= link_to'All posts',{ action: 'userposts'}, id: @user.id, class: 'btn btn-primary pull-right' %>
            </div>
          </div>
        </div>
        <div class="panel-footer" style="min-height:50px">
          <% if current_user.id != @user.id %>
            <%= link_to(root_path, class: 'btn btn-success' ) do %>
                Write a message &nbsp;<i class="glyphicon glyphicon-envelope"></i>
            <% end %>
          <% else %>
              <span class="pull-right">
                <%= link_to(edit_user_registration_path, class: 'btn btn-sm btn-warning') do %>
                    Update&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <% end %>
              </span>
          <% end %>
        </div>
      </div>
    </div>