<!DOCTYPE html>
<html>
  <head>
    <title>HackathonCrackow</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Strona główna", root_path, class:"navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if !current_user %>
                  <li>
                    <%= link_to(new_user_registration_path) do	 %>
                        <span class="glyphicon glyphicon-user"></span> Zarejestruj się

                    <% end %>
                  </li>
                  <li>
                    <%= link_to(new_user_session_path) do %>

                        <span class="glyphicon glyphicon-log-in"></span> Zaloguj się

                    <% end %>
                  </li>
                  <li>
                    <%= link_to(user_facebook_omniauth_authorize_path) do %>
                        <i class="fa fa-facebook-official" aria-hidden="true"></i> Zaloguj przez facebook
                    <% end %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to(destroy_user_session_path, method: 'delete') do %>

                        <i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj się

                    <% end %>
                  </li>
                  <li>
                    <%= link_to(static_path(current_user.id))	do %>
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Twój profil
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
    </nav> 

        <%= yield %>
  </body>
</html>
